html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
  max-width: 264px;
  max-height: 24px;
}

.signinbg {
  background-color: #162647;
  position: relative;
}

.new {
  background-color: #162647 !important;
  border-color: #162647 !important;
}

.vr {
  height: 2px;
  margin-top: 12px;
}

.linkbody {
  color: #162647 !important;
}

.arrow {
  position: absolute;
  right: -13px;
  color: #162647 !important;
  top: 27px;
}

.page-signup {
  background-image: url(./asests/bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0px 240px;
  font-family: 'Open Sans', sans-serif;
}

.frequently-asked-questions {
  margin-top: 110px;
  margin-bottom: 50px;
  background-color: #fff;
}

  .frequently-asked-questions h2 {
      text-align: center;
      font-size: 36px;
      height: 85px;
      line-height: 40px;
      font-weight: 600;
      color: #2e58af;
      font-weight: normal;
  }

  .frequently-asked-questions .list {
      margin: 0px auto;
      width: 960px;
      overflow: auto;
  }

      .frequently-asked-questions .list .item {
          position: relative;
          float: left;
          margin-bottom: 20px;
          padding-bottom: 25px;
          width: 50%;
          list-style-type: none;
      }

          .frequently-asked-questions .list .item:before {
              content: '';
              position: absolute;
              bottom: 0px;
              left: 0px;
              right: 25px;
              height: 1px;
              background-color: #E9EDF5;
          }

          .frequently-asked-questions .list .item label {
              font-size: 16px;
              font-weight: 700;
              color: #2E59B0;
              line-height: 1.3em;
          }

          .frequently-asked-questions .list .item p {
              margin: 10px 0px 0px 0px;
              font-size: 16px;
              line-height: 25px;
              font-weight: 400;
              color: #1A3265;
          }

          .frequently-asked-questions .list .item:nth-of-type(2n+1) {
              padding-right: 25px;
              clear: left;
          }

          .frequently-asked-questions .list .item:nth-of-type(2n+2) {
              padding-left: 25px;
              clear: right;
          }

              .frequently-asked-questions .list .item:nth-of-type(2n+2):before {
                  content: '';
                  position: absolute;
                  bottom: 0px;
                  left: 25px;
                  right: 0px;
                  height: 1px;
                  background-color: #F2F5F8;
              }

          .frequently-asked-questions .list .item:nth-last-child(2)::before,
          .frequently-asked-questions .list .item:nth-last-child(1)::before {
              content: none;
          }

@media screen and (max-width: 1199px) {
  .frequently-asked-questions {
      padding-top: 15px;
      padding-bottom: 10px;
      margin: 0px;
      background-color: #fff;
  }

      .frequently-asked-questions h2 {
          padding-left: 20px;
          font-size: 26px;
          line-height: 1.5em;
          height: auto;
          text-align: center;
      }

      .frequently-asked-questions .list {
          padding: 30px 0px 0px 0px;
          width: 100%;
      }

          .frequently-asked-questions .list .item {
              float: left;
              padding-left: 0px !important;
              padding-right: 0px !important;
              padding-bottom: 20px;
              width: 100%;
              min-height: 100px;
          }

              .frequently-asked-questions .list .item label {
                  font-size: 16px;
                  color: #2E59B0;
              }

              .frequently-asked-questions .list .item p {
                  font-size: 14px;
                  color: #1A3265;
              }

              .frequently-asked-questions .list .item:before {
                  left: 0px !important;
              }

              .frequently-asked-questions .list .item:last-child {
                  margin-bottom: 0px;
              }
}
.list .item {
  position: relative;
  padding-left: 30px;
  margin: 15px 0px 0px 0px;
  color: #1B3365;
  font-size: 15px;
  line-height: 1.4em;
  list-style-type: none;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.list .item:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-image: url("./asests/icon-item.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
